<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.schoolwebsite.dao.AdminDaoInter">

    <insert id="add" useGeneratedKeys="true" keyColumn="id">
        replace into schoolwebsite.userInfo (IdCardNumber, password, code,createTime) value (#{admin.login},#{admin.password},#{admin.code},NOW())
    </insert>

    <update id="update">
        update schoolwebsite.userInfo set
        <trim prefixOverrides=",">
            <if test="admin.password!=null">
                password = #{admin.password}
            </if>
            <if test="admin.code!=null">
                ,code = #{admin.code}
            </if>
        </trim>
        where   idcardnumber = #{admin.idCardNumber}
    </update>

    <select id="select" resultType="java.lang.Boolean">
        select * from schoolwebsite.userInfo where IdCardNumber = #{login} and password = #{password}
    </select>

    <select id="selectall" resultType="com.example.schoolwebsite.entity.Admin">
        select * from schoolwebsite.userInfo where code>=5
    </select>

<!--    学生code等级1
        教师code等级2
        普通管理员code等级5
        超级管理员code等级6-->
</mapper>
