<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.schoolwebsite.dao.CourseDaoInter">

    <insert id="add">
        insert into schoolwebsite.course
        <trim>
            (courseId
            ,courseName
            ,createTime
            <if test="course.status!=null">
            ,status
            </if>
            <if test="course.description!=null">
            ,description
            </if>
            )
        </trim>
        VALUE
        <trim>
            (#{course.id}
            ,#{course.courseName}
            ,NOW()
            <if test="course.status!=null">
                ,#{course.status}
            </if>
            <if test="course.description!=null">
                ,#{course.description}
            </if>
            )
        </trim>
    </insert>

    <delete id="delete">
        delete from schoolwebsite.course where courseId = #{courseId}
    </delete>

    <update id="update">
        update schoolwebsite.course set
        <trim prefixOverrides=",">
                courseName = #{course.courseName}
                <if test="course.status!=null">
                ,status=#{course.status}
                </if>
                <if test="course.description!=null">
                ,description=#{course.description}
                </if>
        </trim>
        where courseId = #{course.id}
    </update>

    <select id="selectbyname" resultType="com.example.schoolwebsite.entity.Course">
        select courseId, courseName, status, description from schoolwebsite.course where courseName like CONCAT('%',#{courseName})
    </select>

    <select id="selectbyid" resultType="com.example.schoolwebsite.entity.Course">
        select courseId, courseName, status, description from schoolwebsite.course where courseId = #{courseId}
    </select>

    <select id="select" resultType="com.example.schoolwebsite.entity.Course">
        select courseId, courseName, status, description from schoolwebsite.course
    </select>

</mapper>
