<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.schoolwebsite.dao.Teacher_CourseDaoInter">

    <resultMap id="res" type="com.example.schoolwebsite.entity.Teacher_Course">
        <id property="id" javaType="java.lang.Integer" jdbcType="INTEGER" column="Id"/>
        <result property="status" javaType="java.lang.String" jdbcType="VARCHAR" column="status"/>
        <result property="description" javaType="java.lang.String" jdbcType="VARCHAR" column="description"/>
        <association property="course" javaType="com.example.schoolwebsite.entity.Course">
            <id property="id" javaType="java.lang.Integer" jdbcType="INTEGER" column="courseId"/>
            <result property="courseName" javaType="java.lang.String" jdbcType="VARCHAR" column="courseName"/>
        </association>
        <association property="teacher" javaType="com.example.schoolwebsite.entity.Teacher">
            <id property="id" javaType="java.lang.Integer" jdbcType="INTEGER" column="teacherId"/>
            <result property="teacherName" javaType="java.lang.String" jdbcType="VARCHAR" column="teacherName"/>
        </association>
    </resultMap>

    <insert id="add">
        replace into schoolwebsite.`teacher-course`
            <trim>
                (id
                ,teacherid
                ,courseid
                ,createtime
                <if test="teacher_course.status!=null">
                    ,status
                </if>
                <if test="teacher_course.description!=null">
                    ,description
                </if>
                )
            </trim>
            VALUE
            <trim>
                (#{teacher_course.id}
                ,#{teacher_course.teacher.id}
                ,#{teacher_course.course.id}
                ,now()
                <if test="teacher_course.status!=null">
                ,#{teacher_course.status}
                </if>
                <if test="teacher_course.description!=null">
                ,#{teacher_course.description}
                </if>
                )
            </trim>
    </insert>

    <delete id="delete">
        delete from schoolwebsite.`teacher-course` where Id = #{teacher_courseId}
    </delete>

    <update id="update">
        update schoolwebsite.`teacher-course` set
            <trim prefixOverrides=",">
                <if test="teacher_course.teacher!=null">
                    <if test="teacher_course.teacher.id!=null">
                        teacherId = #{teacher_course.teacher.id}
                    </if>
                </if>
                <if test="teacher_course.course!=null">
                    <if test="teacher_course.course.id">
                        ,courseId = #{teacher_course.course.id}
                    </if>
                </if>
                <if test="teacher_course.status!=null">
                    ,status = #{teacher_course.status}
                </if>
                <if test="teacher_course.description">
                    ,description = #{teacher_course.description}
                </if>
            </trim>
                where Id = #{teacher_course.id}
    </update>

    <select id="selectbyid" resultType="com.example.schoolwebsite.entity.Teacher_Course">
        select `teacher-course`.*
             ,teacher.teacherId
             ,teacher.teacherName
             ,course.courseId
             ,course.courseName
        from
            schoolwebsite.`teacher-course`
           ,schoolwebsite.teacher
           ,schoolwebsite.course
        where
            teacher.teacherId = `teacher-course`.teacherId and
            course.courseId = `teacher-course`.courseId and
            `teacher-course`.Id = #{teacher_courseId.id}
    </select>

    <select id="selectbyname" resultType="com.example.schoolwebsite.entity.Teacher_Course">
        select `teacher-course`.*
             ,teacher.teacherId
             ,teacher.teacherName
             ,course.courseId
             ,course.courseName
        from
            schoolwebsite.`teacher-course`
           ,schoolwebsite.teacher
           ,schoolwebsite.course
        where
            teacher.teacherId = `teacher-course`.teacherId and
            course.courseId = `teacher-course`.courseId
            <if test="teacherName!=''">
            and teacher.teacherName like CONCAT(#{teacherName},'%')
            </if>
            <if test="courseName!=''">
            and course.courseName like CONCAT(#{courseName},'%')
            </if>
    </select>
</mapper>
