<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.schoolwebsite.dao.TeacherDaoInter">

    <insert id="add">
        replace into schoolwebsite.userInfo
            (idcardnumber, password,dir_code)
            VALUE
            (#{teacher.idcardnumber.idCardNumber},#{teacher.idcardnumber.password},#{teacher.idcardnumber.code});

        replace into schoolwebsite.teacher
        <trim>
            (teacherId
            ,IdCardNumber
            ,teacherName
            ,teacherSex
            ,branch
            <if test="teacher.level!=null">
            ,teacherLevel
            </if>
            ,createTime
            <if test="teacher.status!=null">
            ,status
            </if>
            <if test="teacher.description!=null">
            ,description
            </if>
            ,teacherSalary
            )
        </trim>
        VALUE
        <trim prefixOverrides=",">
            (#{teacher.id,jdbcType=VARCHAR}
            ,#{teacher.idcardnumber.idCardNumber}
            ,#{teacher.teacherName}
            ,#{teacher.sex}
            ,#{teacher.branch.id}
            <if test="teacher.level!=null">
            ,#{teacher.level}
            </if>
            ,now()
            <if test="teacher.status!=null">
            ,#{teacher.status}
            </if>
            <if test="teacher.description!=null">
            ,#{teacher.description}
            </if>
            ,#{teacher.salary}
            );
        </trim>
    </insert>

    <update id="update">
        update schoolwebsite.teacher set
        <trim suffixOverrides=",">
        <if test="teacher.teacherName!=null">
            teacherName = #{teacher.teacherName},
        </if>
        <if test="teacher.sex!=null">
            teacherSex = #{teacher.sex},
        </if>
        <if test="teacher.branch!=null">
            <if test="teacher.branch.id!=null">
                branch = #{teacher.branch.id},
            </if>
        </if>
        <if test="teacher.level!=null">
            teacherLevel = #{teacher.level},
        </if>
        <if test="teacher.salary!=null">
            teacherSalary = #{teacher.salary},
        </if>
        <if test="teacher.status!=null">
            status = #{teacher.status},
        </if>
        <if test="teacher.description!=null">
            description = #{teacher.description}
        </if>
        </trim>
        where teacherId = #{teacher.id}
        <if test="teacher.idcardnumber!=null">
            and IdCardNumber = #{teacher.idcardnumber}
        </if>
    </update>

    <select id="selectbyname" resultType="com.example.schoolwebsite.entity.Teacher">
        select teacher.teacherId
             , userInfo.IdCardNumber
             , teacher.teacherName
             , teacher.teacherSex
             , teacher.branch
             , teacher.teacherLevel
             , teacher.teacherSalary
             , teacher.createTime
             , teacher.status
             , teacher.description
             , branch.branchId
             , branch.branchName
            from
             schoolwebsite.teacher,
             schoolwebsite.branch,
             schoolwebsite.userInfo
            where
             teacher.branch = branch.branchId
        <if test="teacher.idcardnumber!=null">
            <if test="teacher.idcardnumber.idCardNumber!=null">
                and userInfo.IdCardNumber like #{teacher.idcardnumber.idCardNUmber}
            </if>
        </if>
            <if test="branch!=null">
            and teacher.branch = #{branch}
            </if>
    </select>

    <select id="selectbyid" resultType="com.example.schoolwebsite.entity.Teacher">
        select teacher.teacherId
        , teacher.IdCardNumber
        , teacher.teacherName
        , teacher.teacherSex
        , teacher.branch
        , teacher.teacherLevel
        , teacher.teacherSalary
        , teacher.createTime
        , teacher.status
        , teacher.description
        , branch.branchId
        , branch.branchName
        from
        schoolwebsite.teacher,
        schoolwebsite.branch,
        schoolwebsite.userInfo
        where
        teacher.branch = branch.branchId
        and teacher.IdCardNumber = userInfo.IdCardNumber
        <if test="teacher.idcardnumber!=null">
            <if test="teacher.idcardnumber.idCardNumber!=null">
                and userInfo.IdCardNumber like #{teacher.idcardnumber.idCardNUmber}
            </if>
        </if>
        <if test="teacherId!=null">
            and teacher.teacherId = #{teacherId}
        </if>
    </select>
</mapper>
