<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.schoolwebsite.dao.Teacher_ClassDaoInter">

    <resultMap id="res" type="com.example.schoolwebsite.entity.Teacher_Class">
        <id column="id" jdbcType="INTEGER" javaType="java.lang.Integer" property="id"/>
        <result column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" property="createTime"/>
        <result column="status" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="description" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <association property="teacher" javaType="com.example.schoolwebsite.entity.Teacher">
            <id column="teacherId" jdbcType="INTEGER" javaType="java.lang.Integer" property="id"/>
            <result column="IdCardNumber" jdbcType="VARCHAR" javaType="java.lang.String" property="idcardnumber"/>
            <result column="teacherName" jdbcType="VARCHAR" javaType="java.lang.String" property="teacherName"/>
            <result column="teacherSex" jdbcType="VARCHAR" javaType="java.lang.String" property="sex"/>
            <association property="branch" javaType="com.example.schoolwebsite.entity.Branch">
                <id column="branchId" jdbcType="INTEGER" javaType="java.lang.Integer" property="id"/>
                <result column="branchName" jdbcType="VARCHAR" javaType="java.lang.String" property="branchName"/>
            </association>
        </association>
        <association property="course" javaType="com.example.schoolwebsite.entity.Course">
            <id column="courseId" jdbcType="INTEGER" javaType="java.lang.Integer" property="id"/>
            <result column="courseName" jdbcType="VARCHAR" javaType="java.lang.String" property="courseName"/>
        </association>
        <association property="classes" javaType="com.example.schoolwebsite.entity.Class">
            <id column="classId" jdbcType="INTEGER" javaType="java.lang.Integer" property="id"/>
            <result column="className" jdbcType="VARCHAR" javaType="java.lang.String" property="className"/>
        </association>
    </resultMap>
    <insert id="add" keyColumn="id" useGeneratedKeys="true">
        replace into schoolwebsite.`teacher-class-course`
            ( id
            , teacherId
            , classId
            , courseId
            , createTime
            <if test="teacher_class.status!=null">
            , status
            </if>
            <if test="teacher_class.description!=null">
            , description
            </if>
            )
            VALUE
            ( #{teacher_class.id}
            , #{teacher_class.teacher.id}
            , #{teacher_class.classes.id}
            , #{teacher_class.course.id}
            ,NOW()
            <if test="teacher_class.status!=null">
            , #{teacher_class.status}
            </if>
            <if test="teacher_class.description!=null">
            , #{teacher_class.description}
            </if>
        )
    </insert>

    <insert id="Batchadd" useGeneratedKeys="true" keyColumn="id">
        replace into schoolwebsite.`teacher-class-course`
        <trim>
            ( id
            , teacherId
            , classId
            , courseId
            , createTime
            , status
            , description
            )
        </trim>
        VALUES
        <foreach collection="teacher_class" item="item" separator=",">
            ( #{item.id}
            , #{item.teacher.id}
            , #{item.classes.id}
            , #{item.course.id}
            ,NOW()
            , #{item.status}
            , #{item.description}
            )
        </foreach>
    </insert>

    <delete id="delete">
        delete from schoolwebsite.`teacher-class-course` where
        <trim prefixOverrides="and">
        <if test="id!=null">
        id = #{id}
        </if>
        <if test="ClaId!=null">
        and classId = #{ClaId}
        </if>
        <if test="CouId!=null">
        and courseId = #{CouId}
        </if>
        <if test="TeaId!=null">
        and teacherId = #{TeaId}
        </if>
        </trim>
    </delete>

    <update id="update">
        update schoolwebsite.`teacher-class-course` set
        <trim prefixOverrides=",">
            <if test="teacher_class.teacher.id!=null">
            teacherId = #{teacher_class.teacher.id}
            </if>
            <if test="teacher_class.classes.id!=null">
            ,classId = #{teacher_class.classes.id}
            </if>
            <if test="teacher_class.course.id!=null">
            ,courseId = #{teacher_class.course.id}
            </if>
            <if test="teacher_class.status!=null">
            ,status = #{teacher_class.status}
            </if>
            <if test="teacher_class.description!=null">
            ,description = #{teacher_class.description}
            </if>
        </trim>
        WHERE
        id = #{teacher_class.id}
    </update>

    <select id="select" resultType="com.example.schoolwebsite.entity.Teacher_Class">
        select `teacher-class-course`.id
             , `teacher-class-course`.teacherId
             , `teacher-class-course`.classId
             , `teacher-class-course`.courseId
             , `teacher-class-course`.createTime
             , `teacher-class-course`.status
             , `teacher-class-course`.description
             , course.courseId
             , course.courseName
             , teacher.teacherId
             , teacher.IdCardNumber
             , teacher.teacherName
             , teacher.teacherSex
             , branch.branchId
             , branch.branchName
             , class.classId
             , class.className
        from
                      schoolwebsite.`teacher-class-course`
                    , schoolwebsite.course
                    , schoolwebsite.teacher
                    , schoolwebsite.class
                    , schoolwebsite.branch
        where   `teacher-class-course`.teacherId = teacher.teacherId
        and     `teacher-class-course`.courseId = course.courseId
        and     `teacher-class-course`.classId = class.classId
        and     teacher.branch = branch.branchId
        <if test="teacherId!=null">
            and `teacher-class-course`.teacherId = #{teacherId}
        </if>
        <if test="courseId!=null">
            and `teacher-class-course`.courseId = #{courseId}
        </if>
        <if test="classId!=null">
            and `teacher-class-course`.classId = #{classId}
        </if>
    </select>

</mapper>
