<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.schoolwebsite.dao.UserInfoDaoInter">

    <delete id="delete">
        delete from schoolwebsite.userInfo where IdCardNumber like #{userInfoId}
    </delete>

    <update id="update">
        update schoolwebsite.userInfo set
        <trim prefixOverrides=",">
        <if test="userInfo.password!=null">
            password = #{userInfo.password}
        </if>
        <if test="userInfo.code!=null">
            ,code = #{userInfo.code}
        </if>
        </trim>
        where   idcardnumber = #{userInfo.idCardNumber}
    </update>

    <select id="selectbyid" resultType="com.example.schoolwebsite.entity.UserInfo">
        select * from schoolwebsite.userInfo
        <where>
            <if test="userInfoId!=null">
                IdCardNumber like #{userInfoId}
            and password like #{password}
            </if>
        </where>

    </select>

    <select id="checkuser" resultType="java.lang.Boolean">
        select * from schoolwebsite.userInfo where IdCardNumber like #{userInfoId}
    </select>

</mapper>
